@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 355 72% 97%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 180 100% 25.1%; /* Teal */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91.4%;
    --input: 214 32% 91.4%;
    --ring: 231 48% 48%;
    --radius: 0.5rem;
    --sidebar-background: 220 14% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 355 72% 97%;
    --sidebar-accent: 220 14% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 14% 18%;
    --sidebar-ring: 231 48% 48%;
  }

  .dark {
    --background: 220 14% 10%;
    --foreground: 210 40% 98%;
    --card: 220 14% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 231 48% 48%;
    --primary-foreground: 355 72% 97%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 220 14% 15%;
    --muted-foreground: 215 20% 65.1%;
    --accent: 180 100% 25.1%; /* Teal */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 231 48% 48%;
    --sidebar-background: 220 14% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 355 72% 97%;
    --sidebar-accent: 220 14% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 220 14% 18%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
